@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

:root {
  --primary-color: #ffffff;
  --list-background: #ececec;
  --button-background: #000000;
  --heading-color: #292922;
  --switch-color: #000000;
  --button-color: #ffffff;
  --background-transition: 0.4s background-color;
  --color-transition: 0.4s color;
}

[data-theme='dark'] {
  --primary-color: #0e141b;
  --list-background: #4a67f7;
  --button-background: #ffe100;
  --heading-color: #ff0a78;
  --switch-color: #ffffff;
  --button-color: #000000;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  transition: var(--background-transition);
  font-family: 'Architects Daughter', cursive;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--heading-color);
  transition: var(--color-transition);
  font-size: 2em;
  font-family: 'Architects Daughter', cursive;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

ul li {
  color: var(--switch-color);
  background: var(--list-background);
  margin-bottom: 0.5em;
  padding: 0.5em;
  box-shadow: 1px 1px 2px #adadad;
}

button {
  font-family: 'Roboto', sans-serif;
  background: var(--button-background);
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  transition: 0.3s ease-out;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 2px;
  line-height: 3em;
  padding: 0 1em;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  opacity: 0.8;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  line-height: 1.15;
  height: 3rem;
  font-size: 1em;
  margin: 0 2em 1em 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow 0.3s, border 0.3s;
}

.completed {
  text-decoration: line-through;
}

/* Switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper strong {
  color: var(--switch-color);
  margin: 0 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: transform 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
